#root {
  padding: 2rem;
  text-align: center;
}

/*Image Gallery*/
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
  justify-content: center;
}

.image-gallery img {
  width: 200px; /* ajusta según necesites */
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.image-gallery img:hover {
  transform: scale(1.05);
}



/*Modal for opening pictures*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 40px 0; /* Espacio arriba y abajo */
  box-sizing: border-box;
}

.modal-content {
  max-width: 90vw;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}



/*Nav buttons for pictures in gallery*/
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10000;
  user-select: none;
}

.nav-button.left {
  left: 10%;
}

.nav-button.right {
  right: 10%;
}

.nav-button:hover {
  color: #ccc;
}




/*Plano General*/
.App-plano {
  width: 1450px;
  height: 1080px;
  display: block;
  position: relative;
}

.App-plano-img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/*Allotment Buttons*/
/*Home Button*/
.Home-button {
  background-color: dodgerblue;
  border: none;
  font-size: 18px;
  color: black;
  left: 50%;
  cursor: pointer;
  text-align: center;
}

/*Park Button*/
.Park-button {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 64%;
  left: 65%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/*Allotment Button 1*/
.Allotment-button1 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 90.5%;
  left: 55.5%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 2*/
.Allotment-button2 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 94%;
  left: 53.5%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 3*/
.Allotment-button3 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 97.5%;
  left: 51.2%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 4*/
.Allotment-button4 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 101%;
  left: 49%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 5*/
.Allotment-button5 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 104.8%;
  left: 46.8%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 6*/
.Allotment-button6 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 108%;
  left: 44%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 7*/
.Allotment-button7 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 111%;
  left: 56%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/*Allotment Button 7b*/
.Allotment-button7b {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 113.5%;
  left: 54%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/*Allotment Button 8*/
.Allotment-button8 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 115.5%;
  left: 52.8%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/*Allotment Button 8b*/
.Allotment-button8b {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 117.5%;
  left: 51%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/*Allotment Button 9*/
.Allotment-button9 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 119%;
  left: 34.5%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 10*/
.Allotment-button10 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 122.5%;
  left: 31.2%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 11*/
.Allotment-button11 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 126%;
  left: 28%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 12*/
.Allotment-button12 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 127.5%;
  left: 23.8%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 13*/
.Allotment-button13 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 130.8%;
  left: 21.3%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 14*/
.Allotment-button14 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 134%;
  left: 19.1%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 15*/
.Allotment-button15 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 138.2%;
  left: 16.2%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 16*/
.Allotment-button16 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 144.3%;
  left: 12%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 17*/
.Allotment-button17 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 122%;
  left: 24%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 18*/
.Allotment-button18 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 118.9%;
  left: 11.5%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/*Allotment Button 19*/
.Allotment-button19 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 117.6%;
  left: 27.2%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 20*/
.Allotment-button20 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 114%;
  left: 29.5%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 21*/
.Allotment-button21 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 110.5%;
  left: 32%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 22*/
.Allotment-button22 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 107.4%;
  left: 34.3%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 23*/
.Allotment-button23 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 102.5%;
  left: 38%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 24*/
.Allotment-button24 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 98%;
  left: 40.6%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 25*/
.Allotment-button25 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 94.7%;
  left: 43%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 26*/
.Allotment-button26 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 91.1%;
  left: 45.3%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 27*/
.Allotment-button27 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 87.8%;
  left: 47.5%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}

/*Allotment Button 28*/
.Allotment-button28 {
  background-color: white;
  border: none;
  font-size: 10px;
  color: black;
  position: absolute;
  top: 83.6%;
  left: 49.8%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
  padding: 16px 18px
}

.square {
  background-color: white;
  border: none;
  position: absolute;
  top: 136%;
  left: 50%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: rotate(39deg);
}



/*Arrow Overlay*/
.arrow {
  position: absolute;
  width: 150px; /* longitud de la línea */
  height: 2px;
  background-color: black;
}

.arrow::after {
  content: '';
  position: absolute;
  right: 0;
  top: -4px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid black;
}

/* Ajusta la posición y rotación de cada flecha según el lote */
.arrow7 {
  top: 112.6%; /* posición aproximada desde el top del contenedor */
  left: 45.8%;
  transform: rotate(0); /* según la dirección hacia el botón */
  transform: rotate(-5deg);
}

.arrow7b {
  top: 114.5%;
  left: 44%;
  transform: rotate(0);
}

.arrow8 {
  top: 116.5%;
  left: 42.5%;
  transform: rotate(0);
}

.arrow8b {
  top: 118.5%;
  left: 41%;
  transform: rotate(0);
}

.arrow18 {
  top: 120%;
  left: 15.5%;
  transform: rotate(180deg);
}




/*PDFs*/
.pdf-viewer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pdf-viewer iframe {
  width: 90vw;
  height: 1000px;
  border: none;
  margin-top: 1rem;
}

.pdf-viewer2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pdf-viewer2 iframe {
  width: 90vw;
  height: 850px;
  border: none;
  margin-top: 1rem;
}




/*Tables*/
.table-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.table-info {
  width: 700px;           /* Ancho total fijo */
  table-layout: fixed;    /* ← clave para control de columnas */
  border-collapse: collapse;
  background-color: #222;
  color: white;
  border: 1px solid #444;
}

.table-info th,
.table-info td {
  padding: 1rem;
  text-align: left;
  border: 1px solid #444;
  vertical-align: top;
}

.table-info th {
  width: 50%;              /* Columna izquierda más ancha */
  font-weight: bold;
  word-wrap: break-word;
}

.table-info td {
  width: 50%;              /* Columna derecha más estrecha */
  word-wrap: break-word;
}
